{% extends "NtsSupinfoBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
<h2>Bien le bonjour sur l'accueil du site Note ton STA !</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a lacus a lorem bibendum scelerisque sed sed magna.
    Sed a ante massa, eu convallis nunc. <br />
    Aliquam erat volutpat. Vivamus scelerisque diam non sapien vestibulum posuere. Aliquam ut nunc turpis. Nulla facilisi.
    Etiam sed massa ut ante pharetra feugiat eget ac sem. Aliquam erat volutpat. Donec eu est arcu. Sed eget bibendum nulla. Maecenas tincidunt nulla eu ligula aliquet tempus condimentum sapien ultrices. Morbi scelerisque erat nec dui laoreet et pellentesque nisi dignissim. Duis tristique venenatis nisl,
    sit amet placerat ante condimentum nec.<br />
    Nullam neque purus, facilisis id consequat a, vestibulum cursus arcu. Sed adipiscing consequat turpis, sed mattis justo aliquet id.
    Donec dignissim accumsan purus, ultricies imperdiet quam tincidunt rutrum. Vivamus accumsan, felis at cursus venenatis,
    turpis augue aliquam nisl, vel consequat enim tellus sed quam. Vestibulum imperdiet pellentesque dolor, ut consectetur arcu rutrum eu.<br />
    Quisque diam libero, aliquet ac dapibus vulputate, fringilla in sapien. Quisque hendrerit rhoncus convallis.
</p>
{% endblock %}